.footer {
 background-color: #0b1532;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  
  margin-left: -1rem;  /* counteract the .home-wrapper side padding */
  margin-right: -1rem;
  margin-top: 200px;
  
}
